<h1 style = "font-family: Arial;">Click a point to see some magic... </h1>
<table mat-table [dataSource] = "this.dataSource" matSort>
  <!---
    The Angular sorting and pagination directives will not work if the matColumnDef attribute does not EXACTLY
    match the name of the data property. For example, changing id to iD would cause sorting to fail.

    This restriction applies only when using baked in MatTableDataSource, not DataSource
  -->


    <ng-container matColumnDef="Truck Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>TruckName</th>
      <td mat-cell *matCellDef="let sensor">{{sensor.id}}</td>
    </ng-container>
    <ng-container matColumnDef="Lat">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lat</th>
      <td mat-cell *matCellDef="let sensor">{{sensor.lat}}</td>
    </ng-container>
    <ng-container matColumnDef="Lng">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Lng</th>
      <td mat-cell *matCellDef="let sensor">{{sensor.lng}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
    <tr  mat-row *matRowDef="let row; columns: this.displayedColumns;"
    (click) = "this.onClickRow(row)"
    (mouseenter) = "this.onUpdateActiveRow(row)"
    (mouseleave)= "this.onUpdateActiveRow(null)"
    [ngStyle]="{'background-color':this.setActiveRowStyling(row)}"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[1, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  <p style = "font-family: arial">Paginator & sensor specific modal queries will be hooked up once API is complete</p>
